/**
 * Styles for sample page needs
 */
body {
	margin: 0;
	padding: 25px;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

a {
	color: #07577D;
}
a:hover {
	color: #000;
}

.btn {
	display: inline-block;
	padding: 8px 12px;
	color: #FFF;
	background: #076A9B;
	font-size: .9em;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.btn:hover,
.btn:focus {
	color: #FFF;
	background: #07577D;
}
.btn:active {
	box-shadow: 0 0 4px rgba(0,0,0,.6) inset;
}

.btn-ok {
	background: #119B5F;
}
.btn-ok:hover,
.btn-ok:focus {
	background: #11814B;
}

.btn-warn {
	background: #C55A63;
}
.btn-warn:hover,
.btn-warn:focus {
	background: #984C4C;
}

label {
	display: block;
	margin-bottom: 15px;
	min-width: 100px;
}

input[type="text"] {
	padding: 6px 2px;
	display: block;
	margin-top: 3px;
}

#sample-2-form {
	display: none;
}